<md-card style="width:50%;margin:auto;">
  <md-input-container color="accent" style="width:100%">
    <input mdInput  [(ngModel)]="filter_term" placeholder="filter repositories">
  </md-input-container>
  <md-checkbox [(ngModel)]="filter_active_only">enabled only</md-checkbox>
</md-card>

  <div *ngFor="let repo of repos">
      <app-repository *ngIf="valid(repo)" [repo]="repo" (active_toggled)="update_repos()"></app-repository>
  </div>
